
<div class="container-fluide mx-auto px-4 row h-[80px] font-libreFranklin ">
    <div class=" d-flex flex-wrap ">
      <div class="col  d-flex items-center ">
        <div class=" bg-[#1A4168]" style="margin-left: 30px;width: 100px;border-radius: 50%;">
          <mat-icon svgIcon="LogoT" class="" style="width: 50px;height: 50px;margin-left: 30px;"></mat-icon>
        </div>
        

      </div>
  
      <div class="col-5  d-flex   justify-content-around align-items-center flex-wrap text-[#1A4168]">
          <div>
            <a routerLink="/home" class="text-base md:text-lg">ACCEUIL</a>
          </div>
          <div>
            <a routerLink="equipe" routerLinkActive="active" class="text-base md:text-lg">NOTRE EQUIPE</a>
          </div>

          <div>
            <a routerLink="contact" class="text-base md:text-lg">CONTACT</a>
          </div>
      </div>
      
    </div>

  
  
  </div>

