<footer class="bg-[#1A4168] text-white py-4">
    <div class="container mx-auto text-center">
   
      <div class="flex justify-center mb-2 space-x-8 text-sm font-bold ">
        <a routerLink="/home" class="hover:underline">ACCUEIL</a>
        <a href="#services" class="hover:underline transition-all duration-300 ease-in-out">NOS SERVICES</a>
        <button (click)="getContact()" class="hover:underline">CONTACT</button>
      </div>
  
      
      <div class="w-1/2 mx-auto h-px bg-gray-400 my-3"></div>
  
  
      <div class="text-sm">
        <p class="mb-1">
          IPROS © 2024.
          <a href="#" class="text-sm hover:underline">Politique de confidentialité</a>.
          <a href="#" class="text-sm hover:underline">Condition Générales de Vente</a>.
          <a href="#" class="text-sm hover:underline">Annexes</a>
        </p>
      </div>
    </div>
  </footer>
  