
<footer class="bg-[#1A4168] text-white py-8">
    <div class="container mx-auto px-4">
  
      <div class="flex justify-between mb-8">
        <div class="w-1/4">
            <mat-icon svgIcon="LogoT" class="mb-4" style="width: 50px;height: 50px;"></mat-icon>
         
          <p class="text-sm">
            Fondée en 2004 par Marc Louis, ML Studio est une entreprise familiale spécialisée dans la création de sites web et la communication digitale.
            <br><br>
            Avec près de 20 ans d'expérience, nous développons des solutions sur mesure, notamment pour de grandes universités. Chaque projet est unique, et nous nous engageons à maximiser la visibilité et l'impact de nos clients.
          </p>
        </div>
  
       
        <div class="w-1/4 mt-2">
          <h4 class="font-bold text-lg mb-4 font-libreFranklin">Menu</h4>
          <ul class="space-y-2 font-light text-[14px] ">
            <li><a href="#" class="hover:underline">ACCUEIL</a></li>
            <li><a href="#" class="hover:underline">SERVICES</a></li>
            <li><a href="#" class="hover:underline">REALISATIONS</a></li>
            <li><a href="#" class="hover:underline">EQUIPES</a></li>
          </ul>
        </div>
  
        <div class="w-1/4  mt-2">
          <h4 class="font-bold font-libreFranklin  text-[14px] mb-4">Nos partenaires</h4>
          <ul class="space-y-2 font-light text-[14px]">
            <li><a href="#" class="hover:underline">Université Sorbonne Paris Nord</a></li>
            
          </ul>
        </div>
  
        <div class="w-1/4  mt-2 font-libreFranklin">
          <h4 class="font-bold text-lg mb-4 font-libreFranklin">Contact</h4>
          <p class="text-sm mb-4">
            A Rue de Mongil, près du terminus de la salle du temps
          </p>
          <a href="#" class="bg-white text-[#1A4168] py-2 px-4 rounded-full text-md font-roboto hover:bg-gray-200" style="width: 186px;height: 44px;" >Contactez nous</a>
        </div>
      </div>
  
      <div class="flex justify-between items-center  pt-4">
       
        <p class="text-sm">© 2024 Tous droits réservés - MLStudio</p>
        
        <div class="space-x-4 w-[55%] d-flex justify-between">
          <a href="#" class="text-sm hover:underline">Mentions légales</a>
          <a href="#" class="text-sm hover:underline">Politique de confidentialité</a>
        </div>
      </div>
    </div>
  </footer>
  